<launch>
    <!-- [修改] 将 value 改为 default，避免锁死 CAN 口名称，方便调试 -->
    <arg name="port_name" default="can0" />
    
    <arg name="simulated_robot" value="false" />
    <arg name="model_xacro" default="$(find scout_description)/urdf/scout_v2.xacro" />
    <arg name="odom_topic_name" default="odom" />
    <arg name="is_scout_mini" default="true" />
    
    <!-- [修改] 默认为 true。导航必须开启底盘 TF 发布 -->
    <arg name="pub_tf" default="true" />
    
    <!-- [新增] 顶层暴露 base_frame 接口 -->
    <arg name="base_frame" default="base_footprint" />

    <include file="$(find scout_base)/launch/scout_base.launch">
        <arg name="port_name" default="$(arg port_name)" />
        <arg name="simulated_robot" default="$(arg simulated_robot)" />
        <arg name="odom_topic_name" default="$(arg odom_topic_name)" />
        <arg name="is_scout_mini" default="$(arg is_scout_mini)" />
        <arg name="pub_tf" default="$(arg pub_tf)" />
        
        <!-- [新增] 将 base_frame 参数传递给底层 -->
        <arg name="base_frame" value="$(arg base_frame)" />
    </include>
    <!-- 取消注释 模型加载模块 -->
    <include file="$(find scout_description)/launch/description.launch">
        <arg name="model_xacro" default="$(arg model_xacro)" />
    </include>
</launch>